{% extends 'base.html' %}

{% block body %}
<style type="text/css">
	
div.box {
  position: absolute;
  width: 400px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  background: white;
  border-style: round;
  border-width: 8px;
  border-color: red;
}


</style>

<div class = "box">
	<br>
    This website gives matchup data based on specific champion rune pages.
	<br>
	This was all possible through the RIOT API.
	<br> 
	The source code is on my github.
	<br>

</div>

{% endblock %}
