{% extends 'base.html' %}
{%block body%}
     <!-- Page style attributes -->
  <link rel="stylesheet" href="static/css/main_template.css">
  <div class = wrapper >
    <div class = left>
    <div style="padding:10px;"></div>
      <div class="imgcontainer">
        <img src="/static/images/RIOT API Logo.png" alt="Avatar" class="avatar">
      </div>
    </div>
    <div class = right>
    <div style="background-color:#e32525; padding:5px;">
     <h2> RIOT API </h2> 
    </div>
    <div style="padding:30px;"></div>
    </div>  
  </div>
{%endblock%}
